*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
    background-color: var(--cor-1);
    margin: 0 300px;
    margin-top: 100px;
    border-right: solid 1px var(--cor-2);
    border-left: solid 1px var(--cor-2);
}

:root {
    --cor-1: #F2F2F2;
    --cor-2: #D9D9D9;
    --cor-3: #A6A6A6;
    --cor-4: #595959;
    --cor-5: #0D0D0D;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 28px;
    margin-bottom: 20px;
}

p{
    font-size: 18px;
}


/* Header */


.flexhead{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;

}

.bnav{
    margin-right: 40px;
}

button{
    height: 100%;
    width: 130px;
    border: none;
    color: var(--cor-4);
    font-size: 12px;
    transition: ease-in-out 150ms;
}


button:hover{
    height: 70%;
    border-radius: 20px;
    background-color: var(--cor-2);
    cursor: pointer;
    color: var(--cor-5);
    font-size: 12px;
}

/* Index */


/* SEO */


/* PAGA */


/* GRATUITA */


/* Footer */

